<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password Success</title>

    <style>
    </style>
  </head>

  <body>
    <header>
      <div class='header_email'>

      </div>
    </header>

    <main>
      <div class='content'>
        <h2>Halo, {{user.name}}</h2>
        <p>Password Kamu telah berhasil di-reset pada: </p>

        <p class='time' id='reset_time'>{{user.updatedAt}}</p>

      </div>
    </main>

    <footer>

    </footer>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js'
      integrity='sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>

    <script>
      let tw = new Date(); if (tw.getTimezoneOffset() == 0)(a = tw.getTime() +
      (7 * 60 * 60 * 1000)) else(a = tw.getTime()); tw.setTime(a); const tahun =
      tw.getFullYear(); const hari = tw.getDay(); const bulan = tw.getMonth();
      const tanggal = tw.getDate(); const hariarray = new Array("Minggu,",
      "Senin,", "Selasa,", "Rabu,", "Kamis,", "Jum'at,", "Sabtu,"); const
      bulanarray = new Array("Januari", "Februari", "Maret", "April", "Mei",
      "Juni", "Juli", "Agustus", "September", "Oktober", "November",
      "Desember"); document.getElementById("reset_time").innerHTML =
      hariarray[hari] + " " + tanggal + " " + bulanarray[bulan] + " " + tahun +
      ", " + ((tw.getHours() < 10) ? "0" : "") + tw.getHours() + ":" +
      ((tw.getMinutes() < 10) ? "0" : "") + tw.getMinutes() + (" WITA");
    </script>
  </body>

</html>